<h1>Varukorg</h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <%=item["quantity"]%>
      <%=item["smak"]%>
      
      <form action="/cart/<%=item["id"]%>/delete" method="post">
        <input type="submit" value="ta bort">
      </form>
    
    </li>
  <% end %>
</ul>

<a href="/products">Fortsätt handla</a>