<h1>Våra Proteinkakor - Strong Bakes</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong>ID:</strong> <%= product['id'] %> <br>
      <strong>Smak:</strong> <%= product['smak'] %> <br>
      <strong>Pris:</strong> <%= product['25kr'] %>
      <hr>
    </li>
  <% end %>
</ul>

<p><a href="/">Tillbaka till startsidan</a></p>