<h1>Våra Proteinkakor - Strong Bakes</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong>Smak:</strong> <%= product['smak'] %> <br>
      <strong>Pris:</strong> <%= product['pris'] %> kr
      
      <a href="/add/<%= product['id'] %>">Lägg till i varukorgen</a>
      <hr>
    </li>

  <% end %>
  <li>
    <a href = "/cart"> Varukorgen</a>

  </li>
</ul>