<h1>Våra Proteinkakor - Strong Bakes</h1>
<a href="/login"><h2>Logga in</h2><a>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong>Smak:</strong> <%= product['smak'] %> <br>
      <strong>Pris:</strong> <%= product['pris'] %> kr
      
      <form action="/add/<%= product['id'] %>" method="post">
        <button type="submit">Lägg till i varukorgen</button>
      </form>
    </li>

  <% end %>
  <li>
    <a href = "/cart"> Varukorgen</a>

  </li>
</ul>