<h2>Skapa din egen produkt</h2>

<form action="/products/create" method="post">
	<label>Smak <input type="text" name="smak"></label>
	<label>Pris <input type="number" name="pris" value = 25></label>
    <label>Beskrivning <input type="text" name="beskrivning"></label>
	<label><input  type="submit" value="Spara"></label>
</form>