<h2>Skapa användare</h2>

<form action="/new_user" method="post">
	<label>Användarnamn <input type="text" name="username"></label>
	<label>Lösenord <input type="text" name="password"></label>
	<label><input  type="submit" value="Spara"></label>
</form>